@{
    Layout = "~/Layouts/_Layout.cshtml";
    PageData["title"] = "About Us";
}

<center>
    <table></table>
<table cellpadding="0" cellspacing="0" width="50%">
									
    <tr><td><h2>About eShop</h2></td></tr>
    <tr><td><img border="0" src="~/scroll/banner_eshop.jpg" height="10" /></td></tr>

    <tr><td>eShop Limited is published as a student project and is created in ASP.Net Razor Syntax.</td></tr>
    <tr><td></td></tr>
	
									
    <tr><td><p>Any information on this website is not to be taken as true. Nothing on this website concerns any government or private organazation and everything is imaginary. </p></td></tr>
    <tr><td></td></tr>
									
</table>
</center>