@{
    Layout = "~/Layouts/_Layout.cshtml";
    PageData["title"] = "Contact Us";
}
<center>
    <table></table>
<table cellpadding="2" cellspacing="0" style="width: 50%">
								
<tr><td class="heading"><h3>Contact  eShop Limited</h3></td></tr>
										
		<td align="right" valign="top">
				<img border="0" src="/images/blank.gif" height="50" />
            <center>
				<table cellpadding="1" cellspacing="0" width="50%">

					<tr> <td colspan="2" style="border-bottom:dotted 1px #333333"><b>Head Office</b></td> </tr>
					<tr> <td colspan="2">	Punjab University College of Information Technology, Allama Iqbal Campus, Lahore, Pakistan</td></tr>
					<tr> <td>Tel: </td><td>(+92 42) 36304825, 36304835, 36369390</td></tr>			
					<tr> <td>Fax: </td><td>(+ 92 42) 36368857</td></tr>			
					<tr> <td>Email: </td><td>info@eshop.pk</td></tr>			
					<tr> <td>URL: </td><td>www.bsef09m053.com</td></tr>						 
				</table>
					<br />				
</center>