
    <!-- Managed By -->

            <div class="twelve columns">
              <div class="panel">
                <div class="row">

                  <div class="two mobile-two columns">
                    <img alt="Image not available" src="~/Shared/images/eshop-logo.jpg">
                  </div>

                  <div class="ten mobile-two columns">
                    <b>This Site Is Managed By</b><hr/>

                    eShop company pvt Ltd. 
                  </div>

                </div>
              </div>
            </div>

    <!-- End Managed By -->
       <!-- Footer -->

      <footer class="row">
        <div class="twelve columns"><hr />
          <div class="row">

            <div class="six columns">
              <p>&copy; Copyright no one at all. Go to town.</p>
            </div>            

          </div>
        </div>
      </footer>

    <!-- End Footer -->