@{
    Page.Title = "Profile";     
}

<div style="margin-left: 20%">
    <ul>
<li><a href="~/User/ChangePassword">Change Password</a></li>
        <li><a href="~/User/ShoppingCart">View Cart</a></li>
</ul>
</div>